{% extends "default.html" %} {% block content %}
<h1>Поиск новостей</h1>

<form method="get">
	{{ form.as_p }}
	<button type="submit">Искать</button>
</form>

<h2>Результаты поиска:</h2>
<ul>
	{% for post in page %}
	<li>
		<h3>{{ post.title }}</h3>
		<p>Автор: {{ post.author.user.username }}</p>
		<p>Дата: {{ post.created_at|date:"d.m.Y H:i" }}</p>
		<p>{{ post.text|truncatechars:50 }}</p>
	</li>
	{% empty %}
	<p>Нет результатов поиска.</p>
	{% endfor %}
</ul>

<div class="pagination">
	<span class="step-links">
		{% if page.has_previous %}
		<a href="?page=1">&laquo; первая</a>
		<a href="?page={{ page.previous_page_number }}">предыдущая</a>
		{% endif %}

		<span class="current-page">
			Страница {{ page.number }} из {{ page.paginator.num_pages }}.
		</span>

		{% if page.has_next %}
		<a href="?page={{ page.next_page_number }}">следующая</a>
		<a href="?page={{ page.paginator.num_pages }}">последняя &raquo;</a>
		{% endif %}
	</span>
</div>
{% endblock %}
