{% extends 'default.html' %} {% load auth_extras %}
<!--fdfsdf-->

<!--fdfsdf-->
{% block content %}
<h1>Список новостей</h1>
<p>Всего новостей: {{ posts|length }}</p>
<!-- Вставляем ссылку на страницу создания новости -->
{% if request.user|has_group:"authors" %}
<p><a href="{% url 'add_post' %}">Создать новость</a></p>
{% endif %}

<p><a href="{% url 'news_search' %}">Поиск</a></p>
<ul>
	{% for post in posts %}
	<li>
		<h2>{{ post.title }}</h2>
		<p>Автор: {{post.author.user.username}}</p>
		<p>Дата публикации: {{ post.created_at|date:"d.m.Y" }}</p>
		<p>{{ post.text|truncatewords:20 }}</p>
		<a href="{% url 'news_detail' post.id %}">Читать дальше</a>
	</li>
	{% endfor %}
</ul>
{% endblock %}
